<html>
    {%extends 'crudapp/base.html'%}
    {%block content%}
    <h1>STUDENT_DETAILS</h1>
    <table>
        <thead>
            <th> STUDENT NO </th>
            <th> STUDENT NAME </th>
            <th> STUDENT CLASS </th>
            <th> STUDENT ADDRESS </th>
        </Thead>
        <TR>
            {%for st in Student%}
            <td>{{st.sno}}</td>
            <td>{{st.sname}}</td>
            <td>{{st.sclass}}</td>
            <td>{{st.saddress}}</td>
            <td> <a href="/update/{{st.id}}"> update </a> <a href="/delete/{{st.id}}"> Delete </a> </td>
            
        </TR>
        {%endfor%}
    </table>
    <a href="/create"> <button type="button"> ADD NEW STUDENT </button> </a>
    {%endblock%}
</html>
